@import '../../styles/index.scss';

.main-button {
  padding: 10px 20px;
  text-transform: uppercase;
  @include raleway(14px, 16.8px, 600);
  cursor: pointer;
}

.attribute-button {
  border: 1px solid $black;
  @include sourceSansPro(0.8rem, 1rem, 400);
  cursor: pointer;
}

.color-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.count-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid $black;
  color: $black;
  background-color: $white;
  @include raleway(14px, 16.8px, 300);
  cursor: pointer;
}
